body {
    text-align: center;
}

input {
    text-align: center;
}

.info {
    text-align: center;
    margin: 20px auto;
    width: 500px;
}

#openWeatherInfo {
    padding: 20px;
    border: 1px solid grey;
    border-radius: 30px;
    list-style: none;
    display: none;
}

#fourSquareRestaurants {
    padding: 20px;
    border: 1px solid grey;
    border-radius: 30px;
    display: none;
    list-style: none;
}

.detail {
    background-color: lightgrey;
}