button {
    background-color: white;
    border-radius: 5px;
    padding-left: 20px;
    padding-right: 20px;
    border-color: #ccc;
    border-style: solid;
    line-height: 2;
}

.card {
    height: 98px;
    width: 71px;
    margin: 5px;
    /* float: left; */
    display: inline-block;
}

.disabled:hover, .disabled {
    cursor: not-allowed;
    background-color: #eeeeee;
}


#buttons {
    padding: 20px;
}