{% load static %}

<head>
    <title>My Turtle !!!!</title>
    <link rel="stylesheet" type="text/css" href="{% static "myapp/style/style.css" %}">
    <script
        src="https://code.jquery.com/jquery-3.3.1.js"
        integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
        crossorigin="anonymous">
    </script>
    <script src="{% static "myapp/js/myapp.js" %}"></script>
</head>
<body>
    User:
    <select id="select">
        {% if not users %}
        <option value="">-</option>
        {% endif %}
        {% for user in users %}
        <option value="{{ user.name }}">{{ user.name }}</option>
        {% endfor %}
    </select>

    <div>
        <form action="javascript:void(0);">
            {% csrf_token %}
            <h1 id="name">{{ current_user.name }}</h1>
            <br>
            dob: <input type="date" value="{{ current_user.dob | date:"c" }}" id="dob">
            <br>
            level: <input type="text" value="{{ current_user.level }}" id="level">
            <br>
            faction: <input type="text" value="{{ current_user.faction }}" id="faction">
        </form>
    </div>

    <button id="newUser">New User</button>
    <br>
    <a href="/page2">Page 2</a>
</body>